/* ----- RESET CSS ----- */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul[role='list'], ol[role='list'] {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button, input, textarea, select {
    font: inherit;
    color: inherit;
    border: none;
    background: none;
    appearance: none;
}

:focus {
    outline: none;
}

:focus:not(:focus-visible) {
    outline: none;
}

[hidden] {
    display: none !important;
}

input, textarea, select, button {
    border-radius: 0;
}

/* ----- COLORS ----- */

:root {
    --background-light: #FFFFFF;
    --background-dark: #0A0A0A;
    --accent-light: #858585;
    --accent-dark: #858585;
    --text-light: #0A0A0A;
    --text-dark: #FFFFFF;
}

/* ----- BODY ----- */

html, body {
    scrollbar-width: none;
}

body {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: fit-content;
    padding: 10px 0;
    color: var(--text);
    background-color: var(--background);
    font-family: system-ui, sans-serif;
    font-family: monospace;
    font-weight: 400;
    font-size: 12px;
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* ----- HEADER ----- */

header {

}

/* ----- MAIN ----- */

main  {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0.95);
    animation: scaleUp 1s forwards;
}

img {
    display: flex;
    max-width: 85%;
}

.img-info-data-container {
    display: flex;
    justify-content: space-between;
    width: 85%;
    padding: 10px 0;
    color: var(--accent);
}

.img-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-transform: uppercase;
}

.name {
    color: var(--text);
    font-weight: 600;
    font-size: 14px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.img-data {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

/* ----- FOOTER ----- */

footer {

}

/* ----- ANIMATION ----- */

@keyframes scaleUp {

    to {
        opacity: 1;
        transform: scale(1);
    }

}

/* ----- MEDIA QUERY ----- */

@media (min-width: 850px) {

    body {
        justify-content: start;
        padding: 10px 24px;
        font-size: 14px;
    }

    .container {
        position: relative;
        flex-direction: row;
        align-items: start;
    }

    img {
        max-width: none;
        max-height: 85vh;
    }

    .img-info-data-container {
        position: sticky;
        top: 10px;
        flex-direction: column;
        gap: 10px;
        padding: 0 14px;
    }

    .name {
        font-size: 16px;
    }

}

@media (prefers-color-scheme: light) {

    :root {
        --background: var(--background-light);
        --accent: var(--accent-light);
        --text: var(--text-light);
    }

}

@media (prefers-color-scheme: dark) {

    :root {
        --background: var(--background-dark);
        --accent: var(--accent-dark);
        --text: var(--text-dark);
    }

}