/* ----- RESET CSS ----- */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul[role='list'], ol[role='list'] {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button, input, textarea, select {
    font: inherit;
    color: inherit;
    border: none;
    background: none;
    appearance: none;
}

:focus {
    outline: none;
}

:focus:not(:focus-visible) {
    outline: none;
}

[hidden] {
    display: none !important;
}

input, textarea, select, button {
    border-radius: 0;
}

/* ----- COLORS ----- */

:root {
    --background-light: #FFFFFF;
    --background-dark: #0A0A0A;
    --accent-light: #858585;
    --accent-dark: #858585;
    --text-light: #0A0A0A;
    --text-dark: #FFFFFF;
}

/* ----- BODY ----- */

html, body {
    width: 100%;
    height: 100%;
    scrollbar-width: none;
}

body {
    color: var(--text);
    background-color: var(--background);
    font-family: system-ui, sans-serif;
    font-family: monospace;
    font-weight: 400;
    font-size: 14px;
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* ----- HEADER ----- */

header {

}

/* ----- MAIN ----- */

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: fit-content;
    padding: 10px 24px;
}

.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    opacity: 0;
    transform: scale(0.95);
    animation: scaleUp 1s forwards;
}

.img-container {
    display: flex;
}

.img-container img {
    max-height: 85vh;
}

.img-info-container {
    position: relative;
    padding: 0 14px 14px 14px;
}

.img-info {
    position: sticky;
    top: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: var(--accent);
}

.name {
    padding-bottom: 10px;
    text-transform: uppercase;
    color: var(--text);
    font-weight: 600;
    font-size: 16px;
}

.device {
    text-transform: uppercase;
}

.camera {
    text-transform: uppercase;
}

.country {
    padding-bottom: 10px;
    text-transform: uppercase;
}

/* ----- FOOTER ----- */

footer {

}

/* ----- ANIMATION ----- */

@keyframes scaleUp {

    to {
        opacity: 1;
        transform: scale(1);
    }

}

/* ----- MEDIA QUERY ----- */

@media (max-width: 865px) {

    body {
        display: none;
    }

}

@media (hover: hover) and (pointer: fine) {

    .exemple:hover {
        background-color: var(--accent);
    }

}

@media (prefers-color-scheme: light) {

    :root {
        --background: var(--background-light);
        --accent: var(--accent-light);
        --text: var(--text-light);
    }

}

@media (prefers-color-scheme: dark) {

    :root {
        --background: var(--background-dark);
        --accent: var(--accent-dark);
        --text: var(--text-dark);
    }

}